

  <br>
<br>
<div class="container">

<br>


<div class="row">

    <div class="row">Thank you. Your details have been successfully verified. Please enter your new PAN.</div>
    <hr>

    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
            <!-- <i class="material-icons prefix">date_range</i>  -->
          <input id="ePan" type="text" class="validate" disabled >
          <label for="ePan">Existing PAN</label>
        </div>
      </div>


      <div class="row">
        <div class="input-field col s12">
          <!-- <i class="material-icons prefix">info_outline</i>  -->
          <input id="nPan" type="text" class="validate">
          <label for="nPan">New PAN</label>
        </div>
      </div>

      <button type="submit" (click)= "redirect()" class="btn btn-primary">Submit</button>

    </form>
  </div>

</div>