
<br>
<br>
<div class="container">

<br>


<div class="row">

    <div class="row">Thank you. Please also help us with one of the below details and click 'Submit'.</div>
    <hr>

    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">date_range</i> 
          <input id="dob" type="date" class="validate">
          <label for="dob">Date of birth</label>
        </div>
      </div>

      <div>OR</div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">info_outline</i> 
          <input id="aadharNo" type="text" class="validate">
          <label for="aadharNo">Aadhar Number (12 digits)</label>
        </div>
      </div>

      <button type="submit" (click)= "redirect()" class="btn btn-primary">Submit</button>

    </form>
  </div>

</div>