
<br>
<br>
<div class="container">

<br>

<div class="row">

    <div class="row">Please enter one of the below details and continue.</div>
    <hr>

    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">phone</i> 
          <input id="mobile" type="text" class="validate">
          <label for="mobile">Registered Mobile Number</label>
        </div>
      </div>

      <div>OR</div>

      <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">assignment_ind</i> 
          <input id="customerId" type="text" class="validate">
          <label for="customerId">Customer ID</label>
        </div>
      </div>

      <button type="submit" (click)= "redirect()" class="btn btn-primary">Submit</button>

    </form>
  </div>

</div>